<div id="<%= dom_id skill %>">
  <p>
    <strong>Name:</strong>
    <%= skill.name %>
  </p>

  <p>
    <strong>Level:</strong>
    <%= skill.level %>
  </p>

  <p>
    <strong>Started at:</strong>
    <%= skill.started_at %>
  </p>

</div>
